demo/
*.csv
*.json
__pycache__/
*.rar
.DS_Store
out/
download_list.txt
download_list_hltv.txt
*.zip
*.mp4
cs_state_vis.mp4
*.pt
wandb/
*.pth
test/
checkpoints_*/
processed_jsons.txt
.tools
blast_pred.tar.gz
checkpoints_pretraining_v2.tar.gz
matches_urls.txt
cs-net-models/
*.dem
examples/test.dem